<ion-header >
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="font-family">Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item href="https://www.facebook.com/pnsauxhum/?ref=bookmarks" class="activated">
          <!-- <ion-icon name="logo-facebook" slot="start"></ion-icon> -->
          <fa-icon [icon]="['fab', 'facebook-square']"  slot="start" size="2x" class="azul"></fa-icon>
          <ion-label>Facebook PNSAH</ion-label>
        </ion-item>
        <ion-card-content>
            Acesse nossa página no Facebook, curte e comente!!!
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item href="https://arquidiocesecampinas.com/" class="activated">
          <fa-icon [icon]="['fas', 'church']" slot="start" size="2x" class="azul"></fa-icon>
          <ion-label>Arquidiocese Campinas</ion-label>
        </ion-item>
        <ion-card-content>
          Notícias de nossa Arquidiocese
        </ion-card-content>              
      </ion-card>
      <!-- newspaper -->
      <ion-card>
          <ion-item href="https://cnbb.org.br/" class="activated">
            <fa-icon [icon]="['fas', 'newspaper']" slot="start" size="2x" class="azul"></fa-icon>
            <ion-label>CNBB Brasil</ion-label>
          </ion-item>
          <ion-card-content>
              Notícias  da Conferência Nacional dos Bispos do Brasil
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-item href="https://www.a12.com/santuario" class="activated">
            <fa-icon [icon]="['fas', 'newspaper']" slot="start" size="2x" class="azul"></fa-icon>
            <ion-label>Santuário de N. Sra. Aparecida</ion-label>
          </ion-item>
          <ion-card-content>
              Conheça o Santuário de Nossa Senhora da Conceição Aparecida, o maior Santuário no mundo dedicado a Maria, localizado no Vale do Paraíba, no eixo Rio - São Paulo.
          </ion-card-content>
      </ion-card>
      

      
</ion-content>
