<ion-header >
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="font-family">Orações</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/oração-do-pai-nosso.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Pai Nosso</ion-card-title>      
    </ion-card-header>
    <ion-card-content>
      Pai Nosso que estais nos Céus, santificado seja o vosso Nome, venha a nós o vosso Reino, seja feita a vossa vontade assim na terra como no Céu. O pão nosso de cada dia nos dai hoje, perdoai-nos as nossas ofensas assim como nós perdoamos a quem nos tem ofendido, e não nos deixeis cair em tentação, mas livrai-nos do Mal. Amém
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/ave-maria.png" alt="" />
    <ion-card-header>
      <ion-card-title>Ave Maria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ave Maria cheia de graça</p>
      <p>O Senhor é convosco,</p>
      <p>Bendita sois Vós entre as mulheres,</p>
      <p>E bendito é o fruto do vosso ventre, Jesus.</p>
      <p></p>
      <p>Santa Maria, Mãe de Deus,</p>
      
      <p>Rogai por nós pecadores,</p>
      <p>Agora e na hora da nossa morte.</p>
      <p>Amém!</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/credo.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Oração do Creio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Creio em Deus-Pai, todo poderoso,</p>
      <p>criador do céu e da terra</p>
      <p>e em Jesus Cristo seu único filho, Nosso Senhor</p>
      <p>que foi concebido pelo poder do Espírito Santo</p>
      nasceu da Virgem Maria
      Padeceu sob Poncio Pilatos
      Foi crucificado, morto e sepultado
      desceu a mansão dos mortos
      ressuscitou ao terceiro dia, subiu aos céus
      está sentado à direita de Deus Pai, todo poderoso,
      de onde há de vir a julgar os vivos e os mortos
      Creio no Espírito Santo,
      na Santa Igreja Católica
      na comunhão dos Santos
      Na remissão dos pecados
      na ressurreição da carne
      na vida eterna
      Amem.
    </ion-card-content>
  </ion-card>

</ion-content>
