<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Orações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="orar">
        <!-- <ion-tab [root]="tabAlgorithms" tabTitle="Algorithms" tabIcon="fa-sitemap" ></ion-tab>  -->
        <!-- <ion-icon name="basket"></ion-icon> -->
        <!-- <fa-icon [icon]="[fas, fa-pray]" class="azul" size="2x"></fa-icon> -->
        <fa-icon [icon] = "['fas', 'fa-pray']"></fa-icon> 
        <ion-label>Orações</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="meus-pedidos">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Pedir Orações</ion-label>
      </ion-tab-button>  
      
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
