<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="font-family">Dizimista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p align="justificy" class="font-family">
    Seja um dizimista e ajude a nossa Paróquia e as nossas Pastorais, no trabalho de Evangelização e ajuda aos mais
    carentes.
  </p>
  <form [formGroup]="formDizimista" (ngSubmit)="onSubmit()">
    <ion-item>
      <!-- <ion-label position="stacked">Nome Completo</ion-label> -->
      <ion-input type="text" formControlName="nome" placeholder="Nome Completo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="nasc" placeholder="Data de Nascimento">
        <!-- <ion-label position="floating"></ion-label> -->
        <ion-datetime displayFormat="MM/DD/YYYY" min="1950-01-01" max="2020-12-31" value=""></ion-datetime>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="endereco" placeholder="Endereço"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="comunidade"></ion-input>
      <ion-label>Comunidade</ion-label>
      <ion-select placeholder="Escolha">
        <ion-select-option value="1">N. Sra. Auxiliadora</ion-select-option>
        <ion-select-option value="1">N. Sra. Perpétuo Socorro</ion-select-option>
        <ion-select-option value="1">Santa Luzia</ion-select-option>
        <ion-select-option value="1">N. Sra. Aparecida</ion-select-option>
        <ion-select-option value="1">Sagrado Coração de Jesus</ion-select-option>
        <ion-select-option value="1">Santa Rita de Cássia</ion-select-option>
        <ion-select-option value="1">Santo Expedito</ion-select-option>
        <ion-select-option value="1">Santa Maria Eufrásia</ion-select-option>
        <ion-select-option value="1">Santa Clara</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="telefone" placeholder="Telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="contribuir" placeholder="Como gostaria de contribuir?"></ion-input>
      <!-- <ion-select-option value="" [selected]="true">- Escolha -</ion-select-option> -->
      <!-- <ion-select-option value="Crédito - Visa">na Secretaria</ion-select-option>
      <ion-select-option value="Crédito - Mastercard">em sua casa pelo Agente da Pastoral</ion-select-option> -->
      <ion-label>Como gostaria de contribuir?</ion-label>
      <ion-select placeholder="Escolha">
        <ion-select-option value="1">na Secretaria</ion-select-option>
        <ion-select-option value="2">em sua casa pelo Agente da Pastoral</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="obs" placeholder="Observações"></ion-input>
    </ion-item>

    <div margin-vertical>
      <ion-button color="primary" expand="block" type="submit">Enviar
        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
      </ion-button>
    </div>
  </form>
</ion-content>