<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="font-family">A Paróquia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>HISTÓRICO</h1>
  <p align="justify"> A Paróquia Nossa Senhora Auxílio da Humanidade é formada por nove comunidades. </p>
  <p align="justify">Não possue uma matriz, pois é
    realizado o trabalho de redes de comunidade, onde , principalmente as maiores, trabalham em benefício de todas. </p>
  <p align="justify">Ela foi criada em 04 de fevereiro de 2007 a partir de um desmembramento da Paróquia Sagrada
    Família.</p>
  <p align="justify">Nesses 13 anos ...</p>
  <p align="justify"></p>
  <p align="justify"></p>
  <p align="justify">Enquanto Paróquia
    fizemos a Assembléia Paroquial no dia 02 de dezembro de 2007. Foi um momento de revisão, avaliação, planejamento e
    celebração. Definimos algumas prioridades para o ano de 2008, todas as pastorais são importantes, mas temos algumas
    que precisamos dar mais atenção. Sabemos que catequese e dízimo são pastorais permanentes. Contudo, escolhemos três
    prioridades para acompanharmos melhor, são as pastorais: FAMILIAR, JUVENTUDE e SOCIAL.Nesta região paroquial em que
    vivemos, vamos criar a pastoral da família, já temos um trabalho importante do Encontro de Casais com Cristo (ECC)
    que é uma ponte dos casais que estão afastados da comunidade, casais em crise, casais com sede de Deus. Mas
    precisamos enquanto comunidade criar a Pastoral Familiar, pois ela é mais abrangente: engloba equipe de noivos,
    equipe de cerimonial, equipe que trabalha com casais de segunda união, trabalhar com viúvos (as), situações
    irregulares. Nesta pastoral a família é acolhida na comunidade e nas casas, orientada e fortalecida com formações,
    reuniões, encontros, palestras, confraternizações e celebrações.Vamos dar atenção especial também aos jovens,
    integrando-os mais com a Pastoral da Juventude ajudando o jovem a se encontra consigo mesmo, com o outro e com Deus,
    a refletir sobre sua vida, seu futuro, seus sonhos e integrar os jovens na comunidade dando um sangue novo na igreja
    e nas pastorais.As Pastorais Sociais também serão vistas com carinho e compromisso: a) Pastoral da Criança, vamos
    fortalecer as Comunidades que já tem esse trabalho pastoral e incentivar pessoas a fazerem o curso para serem
    Líderes da Pastoral da Criança nas comunidades que precisam ter. Em relação a Pastoral da Saúde, montar uma equipe
    paroquial para crescermos juntos nas visitas, acolhidas e acompanhamentos das pessoas debilitadas. Essa equipe
    estará em sintonia com a Forania Bom Pastor. Precisamos unir mais as Conferências Vicentinas existentes na paróquia,
    além do fortalecimento das mesmas para assistirem mais pessoas. Também temos o projeto da Alfabetização de Adultos
    (FUMEC); temos a acolhida, a formação e a orientação de crianças e adolescentes do projeto CEPROMM (Centro de
    Estudos e Promoção da Mulher Marginalizada), além de outros projetos que podemos devagar realizar na área social.
  </p>
</ion-content>