page-agenda {
    .bg-login {
        width: 100%;
        height: 100%;
        background-image: url('/assets/clara.jpg');
        background-size: cover;
        background-position: center;
    }
}