<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="font-family">Missas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
     
    <ion-card class="card2">        
    <ion-card-header>     
      <ion-card-title class='minhacor'>QUARTAS-FEIRAS</ion-card-title>
      <ion-card-content class="preto">
          <h3>07:30 na Com. N. Sra. Auxiliadora</h3> 
          <h3>15:00 na Com. Sagrado Coração de Jesus</h3>
      </ion-card-content>  
    </ion-card-header>    
  </ion-card>

  <ion-card class="card2">    
    <ion-card-header>
      <ion-card-title class='minhacor'>QUINTAS-FEIRAS</ion-card-title>
      <ion-card-content class="preto">
          <h3>07:30 na Com. N. Sra. Perp. Socorro</h3> 
      </ion-card-content>  
    </ion-card-header>   
  </ion-card>

  <ion-card class="card2">    
    <ion-card-header>
      <ion-card-title class='minhacor'>SEXTAS-FEIRAS</ion-card-title>
      <ion-card-content class="preto">
          <h3>19:30 na Com. Santa Maria Eufrásia</h3> 
      </ion-card-content>  

      <ion-card-subtitle class="preto">07:30 na Com. N. Sra. Perp. Socorro</ion-card-subtitle>
    </ion-card-header>   
  </ion-card>

  <ion-card class="card2">    
    <ion-card-header >
      <ion-card-title class='minhacor'>1º e 3º SÁBADOS</ion-card-title>
      <ion-card-content class="preto">
          <h3>19:30 na Com. Santa Maria Eufrásia</h3> 
      </ion-card-content>  

      <ion-card-subtitle class="preto">19:30 na Com. Sagrado Coração de Jesus</ion-card-subtitle>
    </ion-card-header>   
  </ion-card>

  <ion-card class="card2">    
    <ion-card-header>
      <ion-card-title class='minhacor'>2º e 4º SÁBADOS</ion-card-title>
      <ion-card-content class="preto">
          <h3>19:30 na Com. Santa Maria Eufrásia</h3> 
      </ion-card-content>  
    </ion-card-header>   
  </ion-card>

  
  <ion-card class="card2">    
    <ion-card-header>
      <ion-card-title class='minhacor'>1º e 3º DOMINGOS</ion-card-title>
      <ion-card-content class="preto">
          <h3>07:30 na Com. N. Sra. Auxiliadora</h3> 
          <h3>09:30 na Com. Santa Luzia</h3>
          <h3>19:00 na Com. Santo Expedito</h3>      
      </ion-card-content>      
    </ion-card-header>   
  </ion-card>

  <ion-card class="card2">    
    <ion-card-header>
      <ion-card-title class='minhacor'>2º e 4º DOMINGOS</ion-card-title>
      <ion-card-content class="preto">
          <h3>07:30 na Com. N. Sra. Perp. Socorro</h3> 
          <h3>09:30 na Com. N. Sra. Aparecida</h3>
          <h3>19:00 na Com. Santa Rita</h3>
      </ion-card-content>      
    </ion-card-header>   
  </ion-card>  
   
<!--     
    <ion-card>
      <ion-item href="#" class="activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Card Link Item 1 .activated</ion-label>
      </ion-item>
    
      <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Card Link Item 2</ion-label>
      </ion-item>
    
      <ion-item class="activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Card Button Item 1 .activated</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label>Card Button Item 2</ion-label>
      </ion-item>
    </ion-card> -->
</ion-content>