<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="font-family">Missas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     
    <ion-list>
     
        <ion-item>
          <ion-label>Como gostaria de contribuir?</ion-label>
          <ion-select placeholder="Escolha">
            <ion-select-option value="f">na Secretaria</ion-select-option>
            <ion-select-option value="m">em sua casa pelo Agente da Pastoral</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>

</ion-content>