<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="font-family">
      Comunidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <img src="/assets/auxiliadora.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade N. Sra. Auxiliadora</ion-card-title>
      <ion-card-subtitle>Jardim Nova América</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Rua Maria Benedicta Transferetti, 275 
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/perpetuo.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade N. Sra. do Perpétuo Socorro</ion-card-title>
      <ion-card-subtitle>Jardim São Domingos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Rua Maria Benedita de Lima, 85
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img class="foto" src="/assets/luzia.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade Santa Luzia</ion-card-title>
      <ion-card-subtitle>Jardim Fernanda</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Rua Lourival de Almeida, 202
      
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/aparecida.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade N. Sra. Aparecida</ion-card-title>
      <ion-card-subtitle>Vila Palmeiras</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Rua José Lopes Serra, 181
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/sagrado.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade Sagrado Coração de Jesus</ion-card-title>
      <ion-card-subtitle>Jardim Campo Belo II</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Rua Natale Gabeta, 
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/rita.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade Santa Rita de Cássia</ion-card-title>
      <ion-card-subtitle>Jardim Dom Gilberto</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     Rua José Alves de Lima, 
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/expedito.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade Santo Expedito</ion-card-title>
      <ion-card-subtitle>Jardim Campituba</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Avenida Um, s/ nº
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/eufrasia.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade Santa Maria Eufrásia</ion-card-title>
      <ion-card-subtitle>Jardim Cidade Singer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     Rua Cinco, 09
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/clara.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade Santa Clara</ion-card-title>
      <ion-card-subtitle>Jardim Marisa</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Rua Avelino
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/fatima.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Comunidade N. Sra. de Fátima</ion-card-title>
      <ion-card-subtitle>Jardim Descampado</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Sítio São José
    </ion-card-content>
  </ion-card>


</ion-content>