<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Comunidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <img src="/assets/pauxhum.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Comunidade N. Sra. Auxiliadora</ion-card-title>
        <ion-card-subtitle>Jardim Nova América</ion-card-subtitle>
      </ion-card-header>  
      <ion-card-content>
        N. Sra rogai por nós!
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <img src="/assets/pauxhum.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Comunidade N. Sra. Auxiliadora</ion-card-title>
        <ion-card-subtitle>Jardim Nova América</ion-card-subtitle>
      </ion-card-header>  
      <ion-card-content>
        N. Sra rogai por nós!
      </ion-card-content>
    </ion-card>

</ion-content>

  

  
  
