<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="font-family">
      Comunidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <img src="/assets/auxiliadora.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade N. Sra. Auxiliadora</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Nova América</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Rua Maria Benedicta Transferetti, 275 
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/perpetuo.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade N. Sra. do Perpétuo Socorro</ion-card-title>
      <ion-card-subtitle class="preto">Jardim São Domingos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Rua Maria Benedita de Lima, 85
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img class="foto" src="/assets/luzia.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade Santa Luzia</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Fernanda</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Rua Lourival de Almeida, 202      
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/aparecida.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade N. Sra. Aparecida</ion-card-title>
      <ion-card-subtitle class="preto">Vila Palmeiras</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Rua José Lopes Serra, 181
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/sagrado.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade Sagrado Coração de Jesus</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Campo Belo II</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Rua Natale Gabeta, 
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/rita.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade Santa Rita de Cássia</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Dom Gilberto</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
     Rua José Alves de Lima, 
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/expedito.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade Santo Expedito</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Campituba</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Avenida Um, s/ nº
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/eufrasia.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade Santa Maria Eufrásia</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Cidade Singer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
     Rua Cinco, 09
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/clara.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade Santa Clara</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Marisa</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Rua Avelino
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/fatima.jpg" alt="" />
    <ion-card-header>
      <ion-card-title class="letra">Comunidade N. Sra. de Fátima</ion-card-title>
      <ion-card-subtitle class="preto">Jardim Descampado</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="preto">
      Sítio São José
    </ion-card-content>
  </ion-card>


</ion-content>