<!-- <ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <!-- <div class='inicial'>

  </div> -->
  <div class="center margem-superior">
    <img src="/assets/pauxhum.jpg" alt="" class="logo" />
  </div>

  <p></p>
  <p></p>


  <ion-row>
    <!-- class center(global.scss) para centralizar o ícone no centro da coluna -->
    <!-- class azul (global.scss) -->
    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'church']" size="3x" class="azul" [routerLink]="['/paroquia']"></fa-icon>
      <p>Paróquia</p>
    </ion-col>

    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'newspaper']" size="3x" class="azul" [routerLink]="['/noticias']"></fa-icon>
      <p>Notícias</p>
    </ion-col>

    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'praying-hands']" size="3x" class="azul" [routerLink]="['/oracoes']"></fa-icon>
      <p>Orações</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'users']" size="3x" class="azul" [routerLink]="['/missas']"></fa-icon>
      <p>Missas</p>
    </ion-col>

    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'place-of-worship']" size="3x" class="azul" [routerLink]="['/comunidades']"></fa-icon>
      <p>Comunidades</p>
    </ion-col>

    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'calendar-alt']" size="3x" class="azul" [routerLink]="['/agenda']"></fa-icon>
      <p>Agenda</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'phone-alt']" size="3x" class="azul" [routerLink]="['/contato']"></fa-icon>
      <p>Contato</p>
    </ion-col>

    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'hand-holding-heart']" size="3x" class="azul" [routerLink]="['/dizimista']"></fa-icon>
      <p>Dizimista</p>
    </ion-col>

    <ion-col class="center" size="4">
      <fa-icon [icon]="['fas', 'cart-plus']" size="3x" class="azul" [routerLink]="['/lojinha']"></fa-icon>
      <p>Lojinha</p>
    </ion-col>
  </ion-row>

</ion-content>